<!DOCTYPE HTML>
<html>
<head>
    <%- include('./../css.ejs') %>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% usuarios.forEach(function(user) { %>
            <li><%= user.nombre %></li>
        <% }); %>
    </ul>
</body>
<%- include('./../scripts.ejs') %>
</html>